#
# The IceGrid instance name.
#
IceGrid.InstanceName=DemoIceGrid
 
#
# IceGrid registry configuration.
#
IceGrid.Registry.Client.Endpoints=default -h xhgrid3 -p 7777
IceGrid.Registry.Server.Endpoints=default -h xhgrid3
IceGrid.Registry.Internal.Endpoints=default -h xhgrid3
# IceGrid.Registry.Discovery.Interface=127.0.0.1

#
# Data and Authentication
#
IceGrid.Registry.LMDB.Path=db/registry
IceGrid.Registry.AdminPermissionsVerifier=DemoIceGrid/NullPermissionsVerifier
 

