#
# The IceGrid instance name.
#
IceGrid.InstanceName=DemoIceGrid
 
#
# IceGrid registry configuration.
#
IceGrid.Registry.Client.Endpoints=default -h localhost -p 7777
IceGrid.Registry.Server.Endpoints=default -h localhost
IceGrid.Registry.Internal.Endpoints=default -h localhost
IceGrid.Registry.Discovery.Interface=127.0.0.1

#
# Data and Authentication
#
IceGrid.Registry.LMDB.Path=config/db/registry
IceGrid.Registry.AdminPermissionsVerifier=DemoIceGrid/NullPermissionsVerifier
 

